extends ../emails/layout.pug

block content  
    h1 Registro de usuario
    hr
    br
    p Estimado usuario de #{data.site_nombre}:
    p 
      span A pedido de usted hemos regenerado su contraseña exitosamente!
      span Sus nueva contraseña es la siguiente:

    p
       span Contraseña:
       span
         strong #{data.pass}
    br
    p Url de acceso 
      a(href= data.base_url + "/login")
        Click Aquí
    br
    br
    p Este es un mensaje generado automáticamente, por favor no lo responda.
    p Atte. equipo de cuentas de  #{data.site_nombre}
    br