extends ../emails/layout.pug

block content  
    h1 Registro de usuario
    hr
    br
    p Estimado usuario:
    p Su cuenta ha sido creada correctamente, pero deberá activarla haciendo click a continuación:

    div(style="text-align:center;")
      a(href= data.base_url+"/signup_activacion?token="+data.token+"&user="+data.usuario, style="color:#FFF;font-weight:bolder;padding:10px;border:2px solid #999;border-radius:5px;background:#17a2b8;")
        span Activar cuenta  

    p O puede copiar y pegar en su navegador el siguiente enlace:
    pre 
       span #{data.base_url}/signup_activacion?token=#{data.token}&user=#{data.usuario}


    br
    br
    br
    p Atentamente.
    p El equipo de cuentas de  #{data.site_nombre}
    br