//- Vista: /views/web/signup_activacion_registro_ok.pug
    Autor: Pablo Coronel
    Fecha: 15.05.2018
    Descripcion: Confirmaci칩n exitosa del proceso de activaci칩n de la cuenta de usuario

extends ../../templates/layout.pug

block content  
  div.container-fluid
    .container
      .row(style="min-height:500px;").align-items-center
        .col-md-6.offset-md-3
          h3 Activaci칩n exitosa
          p Su cuenta ya est치 activada.
                 
          div.form-group
            a(href="/login")
              span.oi.oi-circle-x 
              span  Acceder

